tr:nth-child(even){
    background-color: #F2F2F2;
}

.team-form-class{ 

    background:#A9D0F5; 
    border: 3 px solid #eeeee; 
    padding:9px 9px;
    width:750px; 
     border-radius:5px; 
    }

    .body_bg
    { 
    background-color:#897ab6; 
    }

    .mainform-class{ 

        background:#A9D0F5; 
        border: 3 px solid #eeeee; 
        padding:9px 9px;
        width:750px; 
         border-radius:5px; 
        }